Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

# PAGES
RewriteRule ^/?$ views/pages/index.php
RewriteRule ^book/?$ views/pages/books/book-details.php
RewriteRule ^books/?$ views/pages/books/books.php
RewriteRule ^error/?$ views/pages/errors/error.php