Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

# PAGES
RewriteRule ^/?$ views/pages/index.php

# BOOKS
RewriteRule ^books/(.+)/?$ views/pages/books/book-details.php?id=$1 [L]
RewriteRule ^books/?$ views/pages/books/books.php [L]

# ERRORS
RewriteRule ^error/?$ views/pages/errors/error.php

# LOGIN
RewriteRule ^login/?$ views/pages/login.php [L]
