Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

# PAGES
RewriteRule ^/?$ views/pages/index.php [L]

RewriteRule ^login/?$ views/pages/auth/login.php [L]
RewriteRule ^register/?$ views/pages/auth/register.php [L]
RewriteRule ^forgot-password/?$ views/pages/auth/forgot-password.php [L]

RewriteRule ^books/(.+)/?$ views/pages/books/book-details.php?id=$1 [L]
RewriteRule ^books/?$ views/pages/books/books.php [L]

RewriteRule ^faqs/?$ views/pages/faqs.php [L]

RewriteRule ^user/?$ views/pages/user/user.php [L]
RewriteRule ^favorites/?$ views/pages/user/favorites.php [L]
RewriteRule ^shopping-cart/?$ views/pages/user/shopping-cart.php [L]
RewriteRule ^panel/?$ views/pages/admin/panel.php [L]

# CONTROLLERS
RewriteRule ^logout$ app/logout.php

# ERROR HANDLING
RewriteRule ^error/?$ views/pages/errors/error.php [L]

ErrorDocument 404 http://localhost:8888/iLib/error?code=404
ErrorDocument 403 http://localhost:8888/iLib/error?code=403
ErrorDocument 500 http://localhost:8888/iLib/error?code=500